body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #212121;
}

#game {
  width: 1000px;
  height: 900px;
  margin: 0 auto;
  padding: 0;
  background: bisque;
}

#icon {
  width: 250px;
  height: 25px;
  margin: 0 auto;
  padding: 0;
  /* background: rgb(85, 157, 183); */
}

#icon p {
  text-align: center;
}

#menu_list {
  width: 250px;
  height: 25px;
  margin: 0 auto;
  padding: 0;
  /* background: violet; */
  display: flex;
  justify-content: space-between;
}

#main_screen {
  width: 900px;
  height: 800px;
  /* 높이를 auto 로 주면 log가 쌓일때 맞춰서 늘어난다 */
  margin: 0 auto;
  margin-top: 10px;
}

#cor {
  width: 900px;
  height: auto;
  /* 높이를 auto 로 주면 log가 쌓일때 맞춰서 늘어난다 */
  margin: 0 auto;
  margin-top: 10px;
}
#log {
  overflow-y: scroll;
  width: 1200px;
  height: 700px;
  position: absolute;
}
