body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#game_ui_box{
    width: 900px;
    height: 900px;
    margin: 0 auto;
    padding: 0;
    background: rgb(48, 97, 88);
}

#title{
    width: 900px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    background: rgb(95, 143, 124);
}

#title,
h2{
    text-align: center;
    font-size: 30px;
}

.nemu{
    width: 900px;
    height: 50px;
    display: flex;
    background: bisque;
}

#home{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    background: hotpink;
}

#stats{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    background: rgb(123, 125, 181);
}


#dungeon{
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto;
    background: rgb(72, 154, 113);
}