body{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background: rgb(121, 166, 100);
}

#game_box{
    width: 1500px;
    height: 900px;
    margin: 0 auto;
    padding: 0;
}

#title_box
h2 {
    width: 750px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#menu_list{
    width: 750px;
    height: 20px;
    margin: 0 auto;
    padding: 0;
}
#menu_list 
ul{
    display: flex;
    list-style: none;
    justify-content : space-around;
}

#menu_list 
ul 
li{
    width: 750px;
    height: 40px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content : space-around;
}

#home{
  width: 100px;
  height: 40px;
}

#spec{
  width: 100px;
  height: 40px;
}

#dungeon{
  width: 100px;
  height: 40px;
}

#quest{
  width: 100px;
  height: 40px;
}

#store{
  width: 100px;
  height: 40px;
}



.box_size{
    width: 1500px;
    height: 800px;
    position: absolute;
}

#play_home {
    background-image: url('띠알삐찌.png');
    background-size: cover;
    display: none;
  }
  #play_spec {
    background-color: #86E57F;
    display: none;
  }
  #play_dungeon {
    text-align: center;
    background-color: #854040;
    display: none;
  }
  #play_quest {
    background-color: #72c97d;
    display: none;
  }

  #play_store {
    background-color: #2f989c;
    display: none;
  }

  #log{
    overflow-y: scroll;
    width: 1500px;
    height: 750px;
  }

  #spec_box{
    width: 1500px;
    height: 800px;
    justify-content : space-around;
    display: flex;
  }

  #spec_list{
    
    display: flex;
  }

  #att{
    width: 50px;
    height: 50px;
    margin-right: 100px;

  }

  #att
  div{
    width: 50px;
    height: 50px;
    margin-top: 50px;

  }

  #hp{
    width: 50px;
    height: 50px;
    margin-right: 100px;

  }

  #hp
  div{
    width: 50px;
    height: 50px;
    margin-top: 50px;

  }

  
  #it{
    width: 500px;
    height: 100px;
    text-align: center;
    background: gray;
  }