body{
    margin: 0;
    padding: 0;
    background-size: 100%;
}

#top{
    margin: 0 auto;
    padding: 0;
    width: 1903px;
    position: relative;
    background: #BD9424;
}

/*  배경 이미지  */

#img_box{
    margin: 0 auto;
    padding: 0;
    width: 1903px;
}

#back_img{
    margin: 0 auto;
    padding: 0;
    width: 1903px;
}

#back_img img{
    margin: 0 auto;
    padding: 0;
    width: 1901px;
    vertical-align: middle;
    position:relative
}

/* 제목 */

/* 전설의 , 자취 , 레시피 따로 나눠야하고
자취는 큰 크기,붓글씨 글꼴,빨간색으로 줘야한다*/


#title_box{
    position:absolute;
    left: 50px;
    width: 1000px;
    top: 200px;
    left: 460px;
    display: flex;
    /* background: chartreuse; */
    height: 120px;
}

.title-1{
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 120px;
    /* background: gold; */
    text-align: center;
    font-size: 50px;
   margin-left: 170px;
   padding-top: 30px;
}

.title-2{
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 120px;
    /* background: darkgoldenrod; */
    text-align: center;
    font-size: 100px;
}

.title-3{
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 120px;
    /* background: gold; */
    text-align: center;
    font-size: 50px;
    margin-right: 170px;
    padding-top: 30px;
}
