body{
    margin: 0;
    padding: 0;
    background-size: 100%;
}

#top{
    margin: 0 auto;
    padding: 0;
    width: 1903px;
    position: relative;
    background: #BD9424;
}

/*  배경 이미지  */

#img_box{
    margin: 0 auto;
    padding: 0;
    width: 1903px;
}

#back_img{
    margin: 0 auto;
    padding: 0;
    width: 1903px;
}

#back_img img{
    margin: 0 auto;
    padding: 0;
    width: 1901px;
    vertical-align: middle;
    position:relative
}

/* 제목 */

/* 전설의 , 자취 , 레시피 따로 나눠야하고
자취는 큰 크기,붓글씨 글꼴,빨간색으로 줘야한다*/


#title_box{
    position:absolute;
    left: 50px;
    width: 1000px;
    top: 200px;
    left: 460px;
    display: flex;
    /* background: chartreuse; */
    height: 120px;
}

.title-1{
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 120px;
    /* background: gold; */
    text-align: center;
    font-size: 50px;
   margin-left: 170px;
   padding-top: 30px;
}

.title-2{
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 120px;
    /* background: darkgoldenrod; */
    text-align: center;
    font-size: 100px;
}

.title-3{
    margin: 0 auto;
    padding: 0;
    width: 200px;
    height: 120px;
    /* background: gold; */
    text-align: center;
    font-size: 50px;
    margin-right: 170px;
    padding-top: 30px;
}


/* 검색창 */
/* 검색창 끝에 돋보기 모양 넣기,
    크기 조정해서 전체적인 사이즈 맞춰보기 */

#search{
    position:absolute;
    left: 50px;
    width: 500px;
    height: 55px;
    top: 400px;
    left: 460px;
    margin: 0 auto;
    padding: 0;
    /* background: violet; */
    
}

#search input{
    margin: 0 auto;
    padding: 0;
    margin-left: 250px;
    width: 500px;
    height: 50px;
    border-radius: 25px;
}

/* 로그인,계정 찾기 */

#login-list-box{
    display: flex;
    position:absolute;
    width: 270px;
    top: 400px;
    left: 1300px;
}

#tot-login{
    width: 300px;
    height: 49px;
    margin-right: 10px;
}

#login-find-box{
    width: 300px;
    height: 49px;
}

#login-find-box button{
    width: 70px;
}




/* 추천 레시피 */
/* 레시피 api에서 랜덤으로 레시피 음식 사진을
가져온다 클릭시 해당 음식 레시피 화면으로 전환 */

#rm_recipe{
    position:absolute;
    left: 50px;
    width: 75%;
    height: 657px;
    top: 500px;
    left: 234px;
    background: rgb(24, 80, 22);
}

#rm_recipe_title{
    /* background: rebeccapurple; */
    margin-bottom: 10px;
}

.tot-title{
    color: black;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.tot-too-box-1{
    width: 100%;
    height: 210px;
    display: flex;
    /* background: khaki; */
    justify-content: space-around;

}

.tot-too-box-2{
    width: 100%;
    height: 210px;
    display: flex;
    /* background: khaki; */
    justify-content: space-around;
    margin-top: 100px;

}

.rm_recipe_list{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    margin: 5px;
    background:khaki;
}

#random_list-1{}

#random_list-2{}

#random_list-3{}

/* 랜덤 재료,레시피,조합 */

#random_rip_box{
    position:absolute;
    left: 50px;
    width: 75%;
    height: 347px;
    top: 1200px;
    left: 234px;
    background: rgb(32, 148, 148);
}

#random_rip_title{
    /* background: rebeccapurple; */
    margin-bottom: 10px;
}

.tot-one-div{
    width: 100%;
    height: 210px;
    display: flex;
    /* background: khaki; */
    justify-content: space-around;
}

.random_list{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    margin-top: 5px;
    background:khaki;
}

#random_list-1{}

#random_list-2{}

#random_list-3{}

/* 우리들의 레시피 */

#our_recipe_box{
    position:absolute;
    left: 50px;
    width: 75%;
    height: 657px;
    top: 1600px;
    left: 234px;
    background: rgb(24, 80, 22);
}

#our_recipe_title{
    /* background: rebeccapurple; */
    margin-bottom: 10px;
}

.our_recipe_list{
    margin: 0 auto;
    width: 300px;
    height: 200px;
    margin: 5px;
    background:khaki;
}

#our_recipe_list-1{}

#our_recipe_list-2{}

#our_recipe_list-3{}

/* 요리 유튜버 */

#cooking_YT_box{
    position:absolute;
    left: 50px;
    width: 75%;
    height: 347px;
    top: 2750px;
    left: 234px;
    background: rgb(32, 148, 148);
}

#cooking_YT_title{
    margin-bottom: 10px;

}

.cooking_YT_list{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    margin: 5px;
    background:khaki;
}

#cooking-YT-list-1{}

#cooking-YT-list-2{}

#cooking-YT-list-3{}