.main-wrap {
  width: 100%;
  height: 100%;
}
.title-wrap {
  width: 1200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 30px;
  border-bottom: 1px solid #999;
  border-top: 1px solid #999;
}
.menu-wrap {
  width: 1200px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
.menu-wrap ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.menu-wrap ul li {
  width: 200px;
  text-align: center;
  font-size: 25px;
  border: 1px solid #999;
  border-top: 0;
  cursor: pointer;
}
.content-wrap {
  width: 1200px;
  height: 700px;
  margin: 0 auto;
}
