/* 전체 크기 */

#tot{
    width: 100%;
    height: 900px;
}

#game{
    width: 1500px;
    height: 900px;
    margin: 0 auto;
    background: gray;
}

#title{
    width: 100%;
    height: 50px;
    background: navajowhite;
}

#title 
h2
{
    text-align: center;
}

#menu_list_box{
    width: 100%;
    height: auto;
    background: teal;
    display: flex;
}

#menu_list_box 
ul 
{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    list-style: none;
    justify-content : space-around;
}

#menu_list_box 
ul
li
{
    width: 300px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-flow: column;
}

#play_list_box{
    width: 1500px;
    height: 800px;
    position: absolute;
}

.tot_box{
    width: 100%;
    height: 800px;
}

#play_menu{
    background-color: #86E57F;
    display: none;
}
#play_state{
    background-color: #d4e57f;
    display: none;
}
#play_dungeon{
    background-color: #5093a2;
    display: none;
}
#play_missions{
    background-color: #3c498a;
    display: none;
}
#play_store{
    background-color: #6b3480;
    display: none;
}

#log{
    width: 1500px;
    height: 775px;
    overflow-y: scroll;
    text-align: center;
    background-color: black;
    display: none;
    position: absolute;
    z-index: 2;
}
